<div class="dialog-window">
  <div class="dialog-window__body">
    <div class="dialog-window__header">
      Share <b>Board name</b> with other
    </div>
    <div class="dialog-window__content">
      <app-emails-editor ></app-emails-editor>
    </div>
  </div>
  <div class="dialog-window__footer">
    <button class="btn btn_blue noselect" (click)="addRandomEmailClick()" >Add email</button>
    <button class="btn btn_blue noselect" (click)="getEmailsCountClick()">Get email count</button>
  </div>
</div>
